body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: white;
}

.login-container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 4px 4px 10px rgb(193, 192, 192);
  padding: 20px;
  max-width: 300px;
  margin: auto;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid rgb(156, 154, 154);
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: blue;
  color: white;
  padding: 5% 40%;
  border: none;
  border-radius: 4px;
  cursor: pointer; 
  transition: 0.2s;
}
